@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root {
  --primary-color: #DCDEE0 !important;
  --secondary-color: #89949F !important; /* Change this to your desired color */
  --gradient-top-bottom: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)) !important;
}
body {
  background-image: var(--gradient-top-bottom) !important;
}
.sign-out-button{
  fontSize: 'calc(10px + 1vw)';
  padding: '1vh 2vw';
  margin: '1vh 1vw';
  backgroundColor: '#eff0f0';
  borderRadius: '5px';
  color: '#000';
  cursor: 'pointer';
}
.App {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.App-logo {
  height: 12vmin  !important;
  pointer-events: visibleFill  !important;
  animation: App-logo-spin infinite 10s linear  !important;
  padding-bottom: 0px !important;
}

.App-header {
  min-height: 10vh !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  justify-content: right !important;
  /* add padding right */
  padding-right: 15px !important;
  font-size: calc(10px + 2vmin) !important;
  width: 100% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(360deg) ;
  }
}

.mainscreen-card {
  background-color: rgba(255, 255, 255, 0) !important;
}

/* Table Styling */
.table-container {
  width: 95vw !important;
  height: 50hw !important;
  padding: 11px 20px !important;
  background: #dcdee0 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 1px !important;
  border-radius: 10px !important; /* add round edges */
  overflow-x: auto;
}

.table-header {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.table-header-cell {
  flex: 1 !important;
  display: flex !important;
  justify-content: center !important; /* Center the contents */
  align-items: center !important; /* Center the contents */
  background: #dcdee0 !important;
  height: 18px !important;
  padding: 0 15px !important;
  white-space: nowrap !important; /* Prevent text from breaking into multiple lines */
}

.table-header-cell:last-child {
  width: 0px !important;
}

.table-header-text {
  text-align: center !important;
  color: #0d1a26 !important;
  font-size: 12px !important;
  font-family: 'Irish Grover' !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
  line-height: 18px !important;
  word-wrap: break-word !important;
}

/* Table Styles */
.table-row {
  display: flex !important;
  align-items: center !important; /* Center the contents */
  width: 100% !important;
}

.table-cell {
  flex: 1 !important; /* This makes the cells take up equal space */
  display: flex !important;
  justify-content: center !important; /* Center the contents */
  align-items: center !important; /* Center the contents */
  background: #dcdee0 !important;
  padding: 0 15px !important;
  font-family: 'Irish Grover' !important;
  color: #0d1a26 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  word-wrap: normal !important;
  white-space: nowrap !important; /* Prevent text from breaking into multiple lines */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  
}

/* Add Player Button Styling */
.add-player-button-container {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 10px !important;
}

.add-player-button {
  padding: 10px 20px !important;
  /* add distance */
  margin-top: 20px !important;
  background: #EFF0F0 !important;
  border-radius: 23px !important;
  color: black !important;
  font-size: 12px !important;
  font-family: 'Irish Grover' !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

.update-button { 
  justify-content: center !important;
  border: none !important;
  font-size: 15px !important;
  height: auto !important;
  font-family: "Irish Grover" !important;
  font-weight: 300 !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 30%;
}

/* Add this to your existing CSS */
.katsching-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important; /* Adjust the gap as needed */
}

div.katsching-counter{
  align-items: left !important;
  width: 10px !important;
}
.add-katsching-button {
  background: #EFF0F0 !important;
  border-radius: 30% !important;
  width: 24px !important;
  height: 24px !important;
  display: flex !important;
  justify-content: rechts !important; /* Center the contents */
  align-items: center !important; /* Center the contents */
  cursor: pointer !important;
  margin-left: 0 !important;
}

.copy-to-clipboard-button {
  padding: 10px 20px !important;
  /* add distance */
  margin-top: 20px !important;
  margin-left: 20px !important;
  background: #EFF0F0 !important;
  border-radius: 23px !important;
  color: black !important;
  font-size: 12px !important;
  font-family: 'Irish Grover' !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  justify-content: center !important;
}

/* History Table Styling */
.history-table-container {
  width: 95vw !important;
  padding: 11px 20px !important;
  background: #dcdee0 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 1px !important;
  border-radius: 10px !important; /* Add round edges */
  margin-top: 20px !important; /* Add some space above the history table */
  z-index: 1 !important;
  overflow: hidden !important; /* Ensure the container does not expand */
  max-height: 300px !important; /* Set a maximum height */
}

.history-table-header {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.history-table-header-cell {
  flex: 1 !important;
  display: flex !important;
  justify-content: center !important; /* Center the contents */
  align-items: center !important; /* Center the contents */
  background: #dcdee0 !important;
  height: 18px !important;
  padding: 0 15px !important;
  white-space: nowrap !important; /* Prevent text from breaking into multiple lines */
}

.history-table-header-cell:first-child {
  justify-content: flex-start !important; /* Align the first cell to the left */
  flex: 2 !important;
}


.history-table-header-cell:last-child {
  justify-content: flex-end !important; /* Align the last cell to the right */
}

.history-table-header-text {
  text-align: center !important;
  color: #0d1a26 !important;
  font-size: 12px !important;
  font-family: 'Irish Grover' !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
  line-height: 18px !important;
  word-wrap: break-word !important;
}


/* History Table Row Styles */
.history-table-row {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  background: #EFF0F0 !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
  padding: 10px !important;
  border-radius: 5px !important;
  margin-top: 5px !important;
  height: auto !important;
}


.history-table-cell {
  flex: 1 !important; /* Allow cells to grow and shrink */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 15px !important;
  font-family: 'Irish Grover' !important;
  color: #0d1a26 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
  word-break: break-all !important;
  height: auto !important;
}



.history-table-cell:last-child {
  flex-grow: 2 !important; /* Allow the last cell to grow more */
  white-space: normal !important; /* Allow text to wrap */
  height: auto !important;
  overflow-wrap: break-word !important;
}

